<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head'); %>
</head>
<body>

    <span size="6">Hello World from contact us page</span>

    <form action="/contact_form" method="post">

        <input type="text" name="teacher_name" placeholder="Name" required>
        <input type="submit" value="Submit">

    </form>

    <%if (name) { %> Your name is <%= name %> <% } %>

  </body>
</html>